<!-- header -->
<app-header></app-header>

<div class="container-fluid">
  <p></p>
  <!-- body -->
  <router-outlet></router-outlet>

  <!-- footer -->
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="footer navbar-fixed-bottom" style="background-color: #101010">


        <div class="text-muted" style="text-align: right">
          activeProfile: {{appAttributes.activeProfile}}
          <br>
          componentVersion: {{appAttributes.componentVersion}}
        </div>

      </div>
    </div>
  </div>

</div>
